<h2>Sobre</h2>

<p>O Receba foi criado para ajudar pessoas e negócios a realizar e receber pagamentos online com mais facilidade, usando cartão de crédito ou boleto bancário.</p>

<p>Com o Receba você nunca mais vai deixar de fazer uma compra ou venda devido à ausência de máquina de cartão de crédito.</p>

<p>Nosso serviço pode ajudar </p>
