<%#= link_to '', user_omniauth_authorize_path(:facebook), class: 'facebook-button' %>

<a href="/users/auth/facebook">
  <button type="button" class="btn-blue facebook-button">
    <span class="ico"></span>
    Cadastrar com Facebook
  </button>
</a>