<a href="/users/auth/facebook" class="popup" data-width="600" data-height="400">
  <button type="button" class="btn-blue facebook-button" >
    <span class="ico"></span>
    Entrar com o Facebook
  </button>
</a>