<h2>Privacidade</h2>

<p>No Receba.la seus dados estão sempre seguros. As informações de um pagamento ficam somente visíveis para quem realizou e quem recebeu o mesmo, não podendo - de forma alguma - serem obtidas por terceiros.</p>

<p>Informações de usuários do Receba.la poderão ser utilizadas de forma anônima (não levando em consideração à identidade dos usuários) para identificarmos padrões de comportamento dos nossos usuários/clientes com o objetivo de melhorar o serviço.</p>

<p>Os dados que coletamos vão de informações de um pagamento como nome, email e valor até dados de localização e IP do usuário.</p>

<p>Suas informações não serão compartilhadas com outras pessoas ou empresas. Seus dados só poderão ser cedidos à entidades governamentais competentes diante da solicitação legal das mesmas.</p>

<p>Em caso de dúvida, mande um email para <%= link_to "contato@receba.la", "mailto:contato@receba.la" %>.</p>