<h2>Segurança</h2>

<p>No Receba seus dados estão sempre seguros. O serviço funciona em conformidade com as normas de segurança do PCI.</p>

<p>Além disso, o Receba força o uso de HTTPS em todas as requisições às nossas páginas, mesmo no caso de páginas estáticas.</p>

<h3>Dados armazenados</h3>

<p>O Receba apenas mantém armazenados os metadados de cada pagamento, isto é, emails, nomes, datas e valores. Dados sensíveis como número do cartão de crédito, data de expiração do cartão e código de segurança não são mantidos.</p>

<div class="well">
  <p>Segurança é sempre uma de nossas prioridades. Em caso de dúvida ou problema, por favor entre em contato com <%= link_to "contato@receba.la", "mailto:contato@receba.la" %>.</p>
</div>