.facebook-button {
  height: 32px;
  width: 182px;
  bottom: 110px;
  left: 115px;
  background-image: image-url('buttons/sign-in-with-facebook.png');
  background-position: top center;
  position: absolute;
  text-indent: -9999px;
  &:hover,
  &:focus {
    background-position: center center;
  }
  &:active {
    background-position: bottom center;
  }
}

ul.menu {
  list-style: none;
  margin: 0 0 2em;
  padding: 0;
  float: right;
}

ul.menu li {
  display: inline;
}